@font-face {
    font-family: 'icomoon';
    src: url('./assets/fonts/icomoon.eot?7gufmr');
    src: url('./assets/fonts/icomoon.eot?7gufmr#iefix') format('embedded-opentype'), url('./assets/fonts/icomoon.ttf?7gufmr') format('truetype'), url('./assets/fonts/icomoon.woff?7gufmr') format('woff'), url('./assets/fonts/icomoon.svg?7gufmr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
    content: "\e901";
}

.icon-phone:before {
    content: "\e942";
}

.icon-heart:before {
    content: "\e9da";
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-linkedin2:before {
    content: "\eaca";
}

.icon-checkmark1:before {
    content: "\e902";
}

.icon-chevron-down:before {
    content: "\e900";
}

*,
html {
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

@font-face {
    font-family: Oz-Bold;
    src: url(./Oz-Bold_efe3ae3b.eot);
    src: url(./Oz-Bold_454466dd.woff2) format("woff2"), url(./Oz-Bold_b75f953b.woff) format("woff"), url(./Oz-Bold_88b428a4.ttf) format("truetype"), url(./Oz-Bold_5bef4f5f.svg#Oz-Bold) format("svg"), url(./Oz-Bold_efe3ae3b.eot?#iefix) format("embedded-opentype");
    font-weight: 100;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
body {
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    position: relative;
}

.container-row {
    width: 80%;
    padding: 0 10%;
    display: block;
}

a.moeabutton,
.moeabutton {
    border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    font-size: 1.5rem;
}

a.moeabutton.red,
.moeabutton.red {
    background-color: #e3165a;
    color: #fff;
    white-space: nowrap;
}

a.moeabutton.white,
.moeabutton.white {
    background-color: #fff;
    color: #000;
}

header {
    position: fixed;
    z-index: 10000;
    top: 0;
    width: 100%;
    display: block;
    padding: 0.5rem 0;
    background-color: rgba(99, 30, 61, 0);
}

header nav {}

header nav .pre-nav {
    text-align: right;
}

header nav .pre-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

header nav .main-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
}

header nav .main-nav .logo-holder {
    width: 30vw;
}

header nav .main-nav .logo-holder a.logo {
    background-image: url(./assets/MOEA_Logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 6rem;
}

header nav .main-nav .logo-holder a.logo h1 {
    text-indent: -1000px;
    display: block;
    margin: 0;
    padding: 0;
}

header nav .main-nav ul {
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
    list-style: none;
    margin: 0.5rem 0 0 0;
    padding: 0;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: normal;
}

header nav .main-nav ul li {
    display: inline-block;
    position: relative;
}

header nav .main-nav ul li a {
    display: block;
    padding: 1rem 0;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

header nav .main-nav ul li a.moeabutton {
    font-size: 1rem;
    padding: 1.3rem 1rem;
}

header nav .main-nav ul li.menu-item-has-children>ul.sub-menu {
    position: absolute;
    z-index: 100000;
    background-color: #fff;
    display: block;
    width: auto;
    transform: scale(0);
    left: -49%;
}

header nav .main-nav ul li.menu-item-has-children>ul.sub-menu::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

header nav .main-nav ul li.menu-item-has-children>ul.sub-menu li {
    display: block;
}

header nav .main-nav ul li.menu-item-has-children>ul.sub-menu li a {
    color: #000;
    padding: auto;
    white-space: nowrap;
}

.header-area {
    height: 99vh;
    /*background-image: url(./bg-heart.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom left;
    
    
    display: block;
    padding-top: 8rem;
    */
    color: #fff;
    overflow: hidden;
    position: relative;
}

.header-area .splash-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 7rem;
}

.header-area .splash-header .left-content {
    width: 50vw;
}

.header-area .splash-header .left-content h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #e3165a;
}

.header-area .splash-header .left-content h2 {
    font-size: 2rem;
    color: #82d9e9;
    margin-bottom: 2rem;
}

.header-area .splash-header .left-content ul.usps {
    /*list-style-position: inside;
    list-style-image: none;url(./assets/MOEA_heart_Tick_W.png);*/
    margin-bottom: 2rem;
    list-style: none;
    padding-left: 0;
}

.header-area .splash-header .left-content ul.usps li {
    font-size: 1.1rem;
    position: relative;
    padding: 0.3rem 0 0.3rem 2.5rem;
}

.header-area .splash-header .left-content ul.usps li:before {
    content: '';
    width: 1.8rem;
    height: 1.5rem;
    position: absolute;
    background-image: url(./assets/MOEA_heart_Tick_W.png);
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header-area .splash-header .left-content ul.credits {
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-area .splash-header .left-content ul.credits li {
    display: inline-block;
}

.header-area .splash-header .left-content ul.credits li a {
    display: block;
}

.header-area .splash-header .left-content ul.credits li a img {
    height: 3rem;
}

.header-area .splash-header .left-content ul.credits li:last-child a img {
    height: 2.2rem;
}

.header-area .splash-header .left-content ul.credits li span {
    display: block;
}

.header-area .splash-header .left-content span {
    font-size: 0.8rem;
}

.header-area .splash-header .right-content {
    width: 50vw;
    padding-left: 5%;
    /*animation-iteration-count: 1;
    animation-duration: 2s;
    animation-name: slidein;
    margin-left: 50vw;*/
}

.header-area .splash-header .right-content img {
    width: 100%;
    transform: scale(0.9);
    animation-iteration-count: 2;
    animation-duration: 0.9s;
    animation-name: pulse;
}

.header-area .heart-shape {
    background-color: #631e3d;
    height: 122vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    top: -50vh;
    right: 8%;
    transform: rotate(-33deg) skewX(29deg);
    border-radius: 0 0 36% 4rem;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    20% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(0.9);
    }
}

@keyframes slidein {
    from {
        margin-left: 50vw;
    }
    to {
        margin-left: 0vw;
    }
}

@keyframes slideout {
    from {}
    to {}
}