header {
    transition: all 1s ease;
}

header nav .pre-nav a,
header nav .main-nav ul li a,
header nav .main-nav .logo-holder a.logo,
header nav .main-nav ul li.menu-item-has-children>ul.sub-menu,
header.moea-sticky nav .pre-nav a,
header.moea-sticky nav .main-nav ul li a,
header.moea-sticky nav .main-nav .logo-holder a.logo,
header nav .main-nav ul li.menu-item-has-children:hover>ul.sub-menu {
    transition: all 0.5s ease;
}

header nav .main-nav ul li:hover,
header nav .main-nav ul li:hover a,
header nav .main-nav ul li:hover>ul.sub-menu li a:hover {
    color: #e3165a;
}

header.moea-sticky {
    background-color: rgba(99, 30, 61, 0.8);
    transition: all 1s ease;
}

header.moea-sticky nav .pre-nav a {
    font-size: 1rem;
}

header.moea-sticky nav .main-nav ul li a {
    font-size: 1rem;
}

header.moea-sticky nav .main-nav .logo-holder a.logo {
    height: 3.5rem;
}

header nav .main-nav ul li.menu-item-has-children>ul.sub-menu,
header nav .main-nav ul li.menu-item-has-children:hover>ul.sub-menu {
    transform-origin: top center;
}

header nav .main-nav ul li.menu-item-has-children:hover>ul.sub-menu {
    transform: scale(1);
}