/*
XL DESKTOP/TV/ SCREENS
- Styles for this Viewport are default settings @ styles.template.css
*/


/*
TYPICAL DESKTOP SCREENS
*/

@media only screen and (min-width: 1559px) and (max-width: 1760px) {
    html {
        font-size: 16px;
    }
    .header-area .heart-shape {}
}

@media only screen and (min-width: 1371px) and (max-width: 1560px) {
    html {
        font-size: 14px;
    }
    .header-area .heart-shape {}
}

@media only screen and (min-width: 971px) and (max-width: 1370px) {
    html {
        font-size: 12px;
    }
    .header-area .heart-shape {}
}

@media only screen and (min-width: 791px) and (max-width: 970px) {
    html {
        font-size: 10px;
    }
    .header-area .heart-shape {}
}


/*
TABLET SCREENS
*/

@media only screen and (min-width: 577px) and (max-width: 767px) {
    .header-area .heart-shape {}
}


/*
MOBILE SCREENS
*/

@media only screen and (max-width: 576px) {
    .header-area .heart-shape {}
}